<% if (post.link) { %>
    <h1 itemprop="name">
        <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"
            onclick="onclickRoute(event, '<%- post.link %>')"><%= post.title %></a>
    </h1>
<% } else if (post.title) { %>
    <!-- 如果title是数字开头，则去掉数字 -->
    <% let title = post.title; %>
    <% if (title && /^\d+\./.test(title)) { %>
        <% title = title.replace(/^\d+\./, ''); %>
    <% } else { %>
        <% title= post.title %>
    <% } %>

    <% if (index) { %>
        <h1 itemprop="name">
            <a class="<%= class_name %>" href="<%- url_for(post.path) %>"
                onclick="onclickRoute(event, '/<%- post.path %>')"><%= title %></a>
        </h1>
    <% } else { %>
        <h1 class="<%= class_name %>" itemprop="name">
            <%= title %>
        </h1>
    <% } %>
<% } %>