<% if (site.posts.length) { %>
    <div class="widget-wrap">
        <h3 class="widget-title"><span><%= __('widget.recents') %></span></h3>
        <div class="widget">
            <ul id="recent-post" class="no-thumbnail">
                <% site.posts.sort('date', -1).limit(3).each(function(post) { %>
                    <li>
                        <div class="item-inner">
                            <% let title = post.title; %>
                            <% if (title && /^\d+\./.test(title)) { %>
                                <% title = title.replace(/^\d+\./, ''); %>
                            <% } %>
                            <p class="item-title">
                                <a href="<%- url_for((post.link?post.link:post.path)) %>" class="title"
                                    onclick="onclickRoute(event, '<%- url_for((post.link?post.link:post.path)) %>')">
                                    <%= title %>
                                </a>
                            </p>
                            <p class="item-meta">
                                <span class="item-category">
                                    <%- list_categories(post.categories, {show_count: false, depth:1, class: 'article-category', style: 'none', separator: '<i class="fa fa-angle-right"></i>'}) %>
                                </span>
                                <span class="item-date">
                                    <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'MM-DD') %></time>
                                </span>
                            </p>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
<% } %>