<% if (['post', 'page', 'tags', 'categories'].includes(page.layout)) { %>
    <section id="post-main"><%- body %></section>
<% } else if (is_archive() || is_category() || is_tag()) { %>
    <section id="post-main"><%- body %></section>
<% } else if (page.__index) { %>
    <section id="post-main"><%- body %></section>
<% } else if (page.layout === 'indexs') { %>
    <%- partial('common/head') %>
    <body>
        <div id="container">
            <%- partial('common/header') %>
            <div class="outer" id="main-wrap">
                <% if (theme.customize.profile.enabled) { %>
                    <%- partial('common/profile', null, {cache: !config.relative_link}) %>
                <% } %>
                <% if (theme.customize.sidebar) { %>
                    <%- partial('common/sidebar') %>
                <% } %>
                <div id="toolbar-mid">
                    <button id="toggle-sidebar" class="toggle-btn" title="收起/展开侧边栏">
                        <span id="toggle-sidebar-btn" style="color: #38b7ea;" class="fa fa-angle-left"></span>
                    </button>
                </div>
                <section id="main"><%- body %></section>    
            </div>
            <%- partial('common/footer', null, {cache: !config.relative_link}) %>
            <%- partial('common/scripts') %>
        </div>
        <div id="music-player-container">
            <iframe id="music-player" title="网易云音乐"
                data-src="https://music.163.com/outchain/player?type=0&id=12850293495&auto=1&height=120">
            </iframe>
        </div>
        <div id="toTop" class="fa fa-angle-up"></div>
        <div id="music-player-fade" class="fa fa-play-circle"></div>
    </body>
    <section id="post-main"><%- body %></section>
<% } else { %>
    <section id="post-main"><%- body %></section>
<% } %>

<script>
    // anchorInterceptor
    anchorInterceptor = function(path) {
        // change hash to trigger route change
        window.location.hash = `${path}`;
        // scroll to top
        $('body, html').animate({ scrollTop: 0 }, 600);
    }

    document.addEventListener('DOMContentLoaded', function() {
        var container = document.getElementById('container');
        if (!container) {
            var path = window.location.pathname;
            var origin = window.location.origin;
            console.log('path:',path, '\norigin:',origin);
            console.log('document:', document)
            window.location.href = origin + '#' + path;
        }
    });

    $(document).ready(function() {
        if ($('#toggle-sidebar-btn').hasClass('fa-angle-right')) {
            $('.page-indent').toggleClass('collapsed');
            $('.article-meta').toggleClass('collapsed');
            $('.article-more-link').toggleClass('collapsed');
        }
        const colorIndex = localStorage.getItem("ColorIndex");
        // init color
        changeBackgroundColor(BackColors[colorIndex]);
    });

    anchorComponentOnclick = function(event) {
        // 文章的头链接 | 点击监听
        $('.article-category-link').on('click', function(event) {
            event.preventDefault();
            const path = $(this).attr('href');
            anchorInterceptor(path);
        });
        // 目录的跳转 | 点击监听
        $('.toc-link').on('click', function(event) {
            event.preventDefault();
            const params = new URLSearchParams(window.location.search);
            //const sectionId = $(this).attr('href').replace('?section=', '');
            // 更新 URL，但不刷新页面
            const idx = decodeURIComponent($(this).attr('href')).slice(1);
            if (idx != 'ndefined') {
                params.set('section', idx);
                const curPath = window.location.pathname + window.location.hash.split('?section=')[0];
                const newUrl = curPath + '?' + params.toString();
                window.history.pushState({}, '', newUrl);
                // 滚动到对应位置
                scrollToSection(idx);
            }
        });
        $('.tag-link-link').on('click', function(event) {
            event.preventDefault();
            const path = $(this).attr('href');
            anchorInterceptor(path);
        });
        $('#page-nav').on('click', 'a', function(event) {
            event.preventDefault();
            const path = $(this).attr('href');
            anchorInterceptor(path);
        });
    }
</script>